<div class="row">
    <div class="col s5">
        <h1>Quick Facts</h1>
        <h5>Built with</h5>
        <p class="tech">{{technology}}</p class="tech">
        <h5>Links</h5>
        <ul>
            {{#if deployed}}
            <li><a href="{{live}}">Live Site</a></li>
            {{/if}}
            <li><a href="{{repo}}">Repository</a></li>
        </ul>
        {{!-- <h5>Learning Points</h5>
        <p>{{learning}}</p> --}}
    </div>
    {{!-- <div class="col s"></div> --}}
    <div class="col s7">
        <h1>{{name}}</h1>
        <img src="{{img}}" alt ="app picture" height="400px" width="600px">
        <h2>Description</h2>
        <p class="tech">{{description}}</p>
    </div>
</div>